<section id="home" class="w-full min-h-screen flex justify-center items-center">
    <div class="flex flex-col items-center">
        <div class="text-2xl mb-4 max-[800px]:text-xl max-[800px]:mb-2">Hola, ¿Qué tal?</div>
        <h1 class="text-5xl font-bold mb-6 max-[800px]:text-3xl max-[800px]:mb-4">SOY ALEXIS GONZÁLEZ</h1>
        <h2 class="text-2xl font-medium mb-14 max-[800px]:text-xl max-[800px]:mb-8">Un Desarrollador <span class="text-primary">Web Full Stack</span></h2>
        <a href="#contact">
            <div
                class="text-base text-center w-44 py-3 border border-primary rounded-sm hover:bg-primary"
                style="transition: all ease-in-out 400ms;"
            >
            Contáctame
            </div>
        </a>
    </div>
</section>
